@using AtlasBlog.Services.Interfaces
@using Microsoft.IdentityModel
@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject SignInManager<BlogUser> SignInManager


@model X.PagedList.IPagedList<Blog>


@{
    ViewData["Title"] = "Home Page";
}


@if ((User.IsInRole("Moderator")) || (User.IsInRole("Administrator")))
{
    <h5 class="greenText pt-3">Home Index</h5>
}


<div class="pageBG py-md-5 d-flex d-block">
    <div class="container">
        <div class="row gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading text-center">
                    <h3 class="subheading">A Code Research Blog</h3>

                    <form asp-action="SearchIndex" asp-controller="BlogPosts">
                        <input name="SearchTerm" class="form-control" />
                        <button type="submit" class="btn-outline w-100 fw-bold glass-button redText">SEARCH</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var item in Model)
    {
        <div>
            <div class="glass-jw-style px-1 hoverButton">
                <div>
                    <div class="text-center overflow">
                        <h5 class="card-title text-center overflow" style="height: 3.2rem;">@Html.DisplayFor(modelItem => item.BlogName)</h5>
                        <div class="card bg-black card-text border-bottom border-primary ">
                            @Html.DisplayFor(modelItem => item.ResearchTopic)
                        </div>
                        <div class="card bg-black card-text border-bottom border-top border-primary " style="height: 3rem;">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                        <div class="card bg-black card-text border-bottom border-top border-primary " style="height: 3rem;">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    </div>
                </div>
                <div class=" row row-cols-2 p-2">
                    <div class="">
                        Posted: @Html.DisplayFor(modelItem => item.Created)
                    </div>
                    <div class="d-flex justify-content-end align-items-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-controller="Blogs" asp-route-id="@item.Id">
                                <i class="bi-pencil-fill" style="font-size: 1.5rem; color:lightyellow;"></i>
                            </a>
                            <a asp-action="Details" asp-controller="Blogs" asp-route-id="@item?.Id">
                                <i class="bi-person-fill" style="font-size: 1.5rem; color:lightyellow;"></i>
                            </a>
                            <a asp-action="Delete" asp-controller="Blogs" asp-route-id="@item?.Id">
                                <i class="bi-trash-fill" style="font-size: 1.5rem; color:red;"></i>
                            </a>

                        }
                    </div>

                </div>
            </div>
        </div>
    }
</div>



<div class="row mt-5">
    <div class="d-flex align-content-end">
        <div class="greenText" type="text">

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
            new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-link"},
            PageClasses = new string[] { "page-link" }
            })

        </div>
    </div>
</div>



