@using AtlasBlog.Services.Interfaces
@using Microsoft.IdentityModel
@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject IImageService _imageService
@inject SignInManager<BlogUser> SignInManager

@model X.PagedList.IPagedList<Blog>



@{
    ViewData["Title"] = "Home Page";
}

        <div class="pageBG py-md-5">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading text-center">
                            @*<h1>Clean Blog</h1>*@
                            <h3 class="subheading">A Research Blog by Yours Truly</h3>

                            <form asp-action="SearchIndex" asp-controller="BlogPosts">
                                <input name="SearchTerm" class="form-control opacityInput" />
                                <button type="submit" class="btn-outline w-100 glass-button redText">SEARCH</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  


    <div class="row row-cols-md-3">
        @foreach (var item in Model)
        {
            <div class="col col-md-4 col-lg-3 gy-4">
                <div class="glass-jw-style" style="height: 20rem;">
                    <div class="p-1">
                        <div class="text-center">
                            <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.BlogName)</h5>
                            <div class="card-text border-bottom border-top border-primary">
                                TITLE - @Html.DisplayFor(modelItem => item.Description)
                            </div>
                            <div class="img-fluid border-top border-primary border-bottom" style="width:500px;height:50px">
                            
                                @*<img  class="contactList-image" alt="..." src="@_imageService.ConvertByteArrayToFile(item.ImageData!,item.ImageType!)"></img>*@
                                @*<img class="img-fluid" style="width:500px;height:50px" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageExt)" />*@
                            </div>
                            <div class="card-text text-center">
                                CREATED - @Html.DisplayFor(modelItem => item.Created)
                            </div>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                            <a asp-action="Edit" asp-controller="Blogs" asp-route-id="@item.Id">
                                <i class="bi-pencil-fill" style="font-size: 1.5rem; color:lightyellow;"></i>
                            </a>
                            <a asp-action="Details" asp-controller="Blogs" asp-route-id="@item?.Id">
                                <i class="bi-person-fill" style="font-size: 1.5rem; color:lightyellow;"></i>
                            </a>
                            <a asp-action="Delete" asp-controller="Blogs" asp-route-id="@item?.Id">
                                <i class="bi-trash-fill" style="font-size: 1.5rem; color:red;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="row">
        <div class="col h3">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>


    <div class="row">
        <div class="col">

            @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
                new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-link"},
                PageClasses = new string[] { "page-link" }
                })

        </div>
    </div>




@*<div class="glass-jw-style">
    <h5 class="card-header">Featured</h5>
    <div class="card-body col-4">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>*@