@using AtlasBlog.Models

@model IEnumerable<AtlasBlog.Models.Comment>



@{
    ViewData["Title"] = "Index";
}

<h1 class="purpleText">Comments Index Page</h1>

<div class="table-responsive">
<table class="table">

    <thead class="text-light fw-bold">
        <tr>
            <th>
                Blog Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                Delete Soon
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-light">
                <td>
                    @Html.DisplayFor(modelItem => item.BlogPost.Blog.BlogName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogPost.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">View Details/Add Comments</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>