@using AtlasBlog.Models
@using AtlasBlog.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using X.PagedList

@*@model X.PagedList.IPagedList<BlogPost>*@

@inject SignInManager<BlogUser> SignInManager
@inject IImageService _imageService
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<BlogUser> userManager

@model IEnumerable<AtlasBlog.Models.BlogPost>


@{
    ViewData["Title"] = "Index";
}

<h1 class="purpleText">Comments of Blog Posts</h1>

<h3>Select a Blog Post to read or add a comment.</h3>
<hr/>

@*
    <table class="table text-light">
    <thead>
    <tr>
    <th>
    Blog Name
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Abstract)
    </th>

    @if (User.IsInRole("Moderator") || (User.IsInRole("Administrator")))
    {
    <th>
    @Html.DisplayNameFor(model => model.BlogPostState)
    </th>
    }
    <th>
    @Html.DisplayNameFor(model => model.Body)
    </th>
    @if (User.IsInRole("Moderator") || (User.IsInRole("Administrator")))
    {
    <th class="fw-bold">
    @Html.DisplayNameFor(model => model.IsDeleted)
    </th>
    }
    <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Blog.BlogName)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Abstract)
    </td>

    @if (User.IsInRole("Moderator") || (User.IsInRole("Administrator")))
    {
    <td>
    @Html.DisplayFor(modelItem => item.BlogPostState)
    </td>
    }
    <td>
    @Html.Raw(item.Body)
    </td>

    @if (User.IsInRole("Moderator") || (User.IsInRole("Administrator")))
    {
    <td>
    @Html.DisplayFor(modelItem => item.IsDeleted)
    </td>
    }
    <td>
    <div>
    <a asp-action="Details" asp-route-slug="@item.Slug">View Details/Add Comments</a>
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
    <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    }

    </td>
    </tr>
    }
    </tbody>

    </table>
*@

<div class="row">
    @foreach (var blogPost in Model)
    {
        <div class="row gy-2">
            <div class="col-3">
                <div class="glass-jw-style p-1 ">
                    <div class="text-center overflow" >
                        <a class="card-title text-center overflow noUnderline h4" asp-route-slug="@blogPost.Slug" asp-controller="BlogPosts" asp-action="Details" >@Html.DisplayFor(modelItem => blogPost.Title)</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

