@using AtlasBlog.Services.Interfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService

@model IPagedList<BlogPost>


<div class="row row-cols-1 row-cols-md-3 g-2">
    @foreach (var blogPost in Model)
    {
        <div class="col">
            <div class="card">
                @*<img />*@
                <div class="card-body">
                    <h6 class="card-title">@blogPost.Title</h6>
                    <p class="card-text">@blogPost.Abstract</p>
                    <h6 class="card-title text-muted fst-italic">Created: @blogPost.Created.ToString("MMM dd, yyyy")</h6>
                </div>
                @* <div class="card-footer">
                    <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug" class="">ANCHOR ALASKA</a>
                    </div>*@
            </div>
        </div>
    }
</div>

<div class="row">
    <div>
        <div class="col h3 purpleText">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>

        <div class="col purpleText">
            @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
            new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-link"},
            PageClasses = new string[] { "page-link" }
            })
        </div>
    </div>
</div>
