@using Microsoft.AspNetCore.Identity

@inject SignInManager<BlogUser> SignInManager


@model AtlasBlog.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1 class="purpleText">Details Blog</h1>

<div class="purpleText">
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>

<div>
        <div class="fw-bold text-decoration-underline">
            Body
        </div>
        <div class="">
            @Html.DisplayFor(model => model.Description)
        </div>
        <hr/>
</div>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            @* <a asp-action="Details" asp-route-id="@Model?.Id" asp-controller="Blogs">Add Comments</a> *@
        </div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit |</a>
    }
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
