@using AtlasBlog.Models
@using AtlasBlog.Services.Interfaces

@model IEnumerable<AtlasBlog.Models.Blog>

@inject IImageService _imageService


@{
    ViewData["Title"] = "Index";
}

<h1>Blog Index</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @if(item.ImageData is not null)
                    {
                        <img class="img-fluid" style="width:200px;height:200px" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageExt)">
                    }
                    else
                    {
                        <img class="img-fluid img-thumbnail" style="width:200px;height:200px" src="/img/DefaultImage.png">
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BlogName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
